* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

header section {
  background-color: rgba(28, 209, 176);
  border: solid 1px black;
  font-size: 15px;
  padding: 10px;
}

h1 {
  background-color: #00669f;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.4);
  font-size: 40px;
  font-weight: 400;
  height: 101px;
  padding: 25px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-bottom: 200px;
  padding-top: 153px;
}

.cards {
  margin: auto;
}

.card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 529px;
  margin-left: 32px;
  margin-top: 153px;
  display: inline-block;
  width: 300px;
}

.card-head {
  height: 194px;
  position: relative;
}

.header-batman {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.icono-batman {
  left: 85px;
  position: absolute;
  top: 130px;
}

.corazoncito {
  left: 21px;
  position: absolute;
  top: 16.88px;
}

.card-body {
  background-color: #f3f3f3;
  box-shadow: 1px 3px 5px 1.5px rgba(0, 0, 0, 0.2);
  height: 336px;
  padding: 72px 16px 19px 16px;
}

.card-body h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.card-body p {
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  height: 113;
  left: 48px;
  margin-top: 10px;
  text-align: left;
  top: 604px;
  width: 267;
}

.card-body a {
  background-color: #00669f;
  color: white;
  display: inline-block;
  margin-left: 65px;
  margin-top: 37px;
  padding: 15px 36px;
  text-decoration: none;
}

.header-harleyquinn {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.icono-harleyquinn {
  border-radius: 50%;
  left: 85px;
  position: absolute;
  top: 130px;
}

footer {
  background-color: #00669f;
  color: white;
  padding: 16px 32px;
}
